.header {
    background: $star-blue;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    text-decoration: none;
    color: $easy-blue;
    h1 {
        margin: 0;
    }
}